---
layout: home
title: 12. Verification in Media & Cultural Studies
---
# Verification & Media
{: .no_toc }

*By Marion Walton, University of Cape Town*

This section explores how we approach trust and verification of scholarly sources in Media and Cultural Studies.

- TOC
{:toc}

### Provenance and peer review

Not all sources are equally trustworthy and some are deliberately designed to mislead us. 
As university students, we need to develop a sense of the "provenance" of information, 
or where it comes from.  

Where does scholarly knowledge come from? How is such information verified?

Academic knowledge in Media Studies builds on:
- Systematic investigation of *primary sources* (media & interview or survey data).
- Carefully documented *secondary sources* (scholarly literature or references).
- *Peer-review* - the process whereby experts check scholarly work before it is published.

### Everyday verification

![Activity](https://cdn.glitch.global/cf95248c-36c9-4c16-8fd1-053cbc9fd048/pencilpencil.svg?v=1739011370699 "small")
How do you usually verify information? What do you find difficult about verification? Have you ever been misled by something which is deliberate disinformation? 


### Primary sources

In Media Studies, scholars investigate various kinds of *media* e.g. tabloid newspapers, advertisements, 
music videos, or a social media controversy or *data* from an interview of media users.

These forms of media and data which we investigate are also known as *primary sources*.

![Diagram of primary sources](https://cdn.glitch.global/cd1cae68-6df1-4c12-8663-2f7bd0e4e521/Board001.png?v=1733988234352 "illustration")

### Secondary sources

Scholars are expected to report exactly how they conducted the investigation of such *primary sources* 
so that other experts (i.e. their "peers") can evaluate the trustworthiness of their research in a process known as *peer-review*.

Such studies which have been carefully checked are referred to as *secondary sources*.


![Diagram of secondary sources](https://cdn.glitch.global/cd1cae68-6df1-4c12-8663-2f7bd0e4e521/Board002.png?v=1733988237824 "illustration")


Using *citations and references*, scholarly writing is expected to document existing secondary sources carefully. 
These are the books and articles which have already been published on the the topic by other scholars.

Such secondary sources are also referred to as "the literature" or "peer-reviewed sources".
These sources are considered trustworthy because they have already been peer-reviewed and because 
their sources are documented carefully with citations and references.

This doesn't mean that they don't have any biases, weaknesses or blind-spots, on the contrary! Existing scholarship
tends to be dominated by wealthy Northern countries and neglect the Global South, potentially perpetuating colonial biases in research.

Nonetheless, because sources are documented in scholarly writing, it is possible to identify such gaps or biases and address them with new research. 

Another problem with many secondary sources is that good quality information published in academic journals often requires
expensive subscriptions or requires us to buy commercially published books which are costly to purchase. 
Under the current system, many scholarly sources are simply not accessible to people who need the information.

### Using non peer-reviewed sources

Peer-reviewed sources are *written by scholars primarily for other academics* (their equals or "peers") to read.
For this reason, scholarly articles and books can be difficult for non-specialists and students to understand.

This is why textbooks, lectures, and even Wikipedia articles can be a helpful guide to students, non-specialists and 
anyone who doesn't subscribe to expensive academic journals. 
Even though such sources are not peer-reviewed, they conventionally acknowledge their sources.

As we discussed when we considered non-profit media organisations, Wikipedia articles can be contributed by anyone, and are reviewed by editors with varying levels of expertise about 
a topic. Nonetheless, processes of editing are transparent and contributions which do not cite their sources are flagged.

Non peer-reviewed sources should be used as a *guide to the scholarly work* they summarise, 
and do not substitute for (one day!) reading the actual articles and books. 

### Open access 

Open access publishing is a movement to make good quality research and other useful sources available freely to everyone.

These include scholarly sources which are published under open access licensing instead of using commercial copyright licenses.

[Wikipedia](https://en.wikipedia.org) is an example of an open access encyclopaedia, although it is not (necessarily) written and maintained by scholars.

Given global patterns of participation, the Global South is often poorly represented on Wikipedia despite the fact that it is such 
an important route for many people to access information. This is why organisations like [WikiAfrica](https://meta.wikimedia.org/wiki/WikiAfrica) 
have been formed in order to increase how much African content is produced for Wikipedia and the Wikimedia projects.

.
We encourage you to identify an area where you have expertise, or would like to develop your expertise further
and to sign up as a [Wikipedia contributor or editor](https://en.wikipedia.org/wiki/Wikipedia:Contributing_to_Wikipedia)). 

### What about Dictionaries?

You should *avoid using dictionaries* to find the meaning of academic *keywords*.
Instead use your prescribed reading to find definitions and examples.

Dictionaries report everyday uses of words while academic keywords have specialised meanings in a particular area of study which you will not find in a dictionary. 

Your readings have been carefully chosen to provide you with *definitions and examples* which help to explain important keywords. 

Look out for definitions in your readings and keep track of them in your *[glossary](/posts/z_glossary/)*

### Sources and verification in the media

Primary sources such as journalistic articles and documentaries can also tell us interesting things, 
help inform us about new topics or suggest different perspectives.

This is because professional journalistic practice requires journalists to *identify their sources* when reporting, and to conduct some
initial verification of what people say to them (usually by speaking to a number of different sources with varying perspectives).

Copy-editors and fact-checkers also contribute to this process of verification when articles are *fact-checked* before publication (though not always very carefully!).

Similarly, documentary-makers investigate and report the perspectives of *a range of interviewees*. 

Nonetheless, you should get in the habit of carefully evaluating the sources used by such forms of media. 
Journalists often rely on official government or corporate sources to the exclusion of marginalised voices.
The *absence* of certain voices in a report or documentary is sometimes just as important as the voices which are quoted or interviewed.

Public relations and social media influencers may be paid or "sponsored" to promote a certain
perspective or product to the public on behalf of commercial organisations, interest groups and 
wealthy individuals. Always ask yourself "who sponsored this post?" on social media and "who benefits 
from this coverage?" in the press.

For these reasons, social media and many journalistic sources and documentaries should be treated as primary sources and approached with caution.

### What about oral traditions?

*Oral traditions* are important because Western scholarship has traditionally perpetuated colonial perspectives. 
By contrast oral traditions and oramedia provide important insights into non-Western ways of seeing the world.


### Unknown provenance and Generative AI

Sources such as Generative AI (GenAI e.g. ChatGPT, Google Gemini etc) use Large Language Models (LLMs) 
to synthesise text. These LLMs are derived from training data, which is mostly text copied from the 
internet and other sources, usually without permission from its authors. Once the model has been "trained" in this way,
low paid human workers who are not subject experts evaluate the LLMs responses to various questions, 
rating how superficially acceptable its "answers" are.

![Diagram of Generative AI sources](https://cdn.glitch.global/cd1cae68-6df1-4c12-8663-2f7bd0e4e521/Board003.png?v=1733988242117 "illustration")


Since the web contains so many poor quality and harmful sources such as marketing material, mis- and dis-information, 
and misogynistic or racist perspectives, these are likely to be reproduced by GenAI models. Conversely, information which is poorly
represented on the web, such as information about the Global South and non-English languages is likely to be absent or biased.

Furthermore, such machine learning output can't cite its sources, because they tend to reproduce a probabilistically calculated "most likely" answer. 
Hence Gen AI output tends to be bland and formulaic, with its summaries often missing key details.
Because of the way generative AI works, some Gen AI output may closely resemble a particular source used to train the data, 
leading to plagiarism.

A GenAI "answer" often sounds plausible but can be completely fabricated. Such fabrications are known as "hallucinations" or, more accurately, "bullshit".
